In [ ]:
s2 = np.array([[20,30,40,50],[21,31,34,45], [ 56, 67, 78, 99]])
s2

In [ ]:
import pandas as pd
s1 = pd.Series([11,12,13,14.7])
s2 = pd.DataFrame([['seema', 98,76,89],['anu',31,34,45],
                   [ 'rahul', 67, 78, 99]],
                  index=(['name','phy','chem']))


s2

In [ ]:
s2.iloc[[0,2]]

In [ ]:
import pandas as pd
ser= pd.Series([1,3,4,5])
print(ser)

In [ ]:

year = pd.Series([2000,300,4500,5000],index=['2016','2017','2018','2019'])
print(year)
year.loc[['2017', '2018']]

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
s1= pd.Series(sdata)

s1

In [ ]:
pd.isnull(obj4)

obj4.isnull

In [ ]:
var=input("Enter in numbers separated by a comma: ")

splitvar= var.split(" country ")

print(splitvar)
t=set()

for i in splitvar:
    t.add(i)
    
print(t)

In [ ]:
import pandas as pd
pd.read_csv
del emp_info

In [ ]:
import csv
import pandas as pd
emp_info = pd.read_csv("http://rcs.bu.edu/examples/python/data_analysis/Salaries.csv")
emp_info.head(5)
#[rows, cols]

In [ ]:
emp_info.dtypes

In [ ]:
emp_info['salary'].sum()
newdf = emp_info.loc[3:6, ['discipline', 'salary', 'rank']]


emp_info.loc
emp_info.iloc   #index

In [ ]:
emp_info
#make a new column hra  which is 30% of salary 
#make a new column da which is 10% of salary
#pf is 8% of salary +da
emp_info['hra'] = 30/100* emp_info['salary']
emp_info['da']= 10/100 * emp_info['salary']
emp_info['pf']= 8/100 * emp_info['salary']+ emp_info['da']
emp_info.loc[1:5, ['service','salary', 'da']]

In [ ]:
emp_info['hra'].sum()
emp_info['da'].sum()
emp_info['salary'].sum()

In [ ]:
emp_info['da']=.30* emp_info['salary']
emp_info['pf']=(emp_info['salary'] + emp_info['da']) *.8
emp_data = emp_info.loc[60:66,['da','pf','salary' ]]

emp_data
emp_data.loc[60:63, 'salary']

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]} 
data

frame= pd.DataFrame(data)
print(frame)

d=frame['year']
print(d[3])

In [ ]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],                        
  index=['one', 'two', 'three', 'four',    'five', 'six'])
frame2

frame2['debt']=10*frame2['pop']
frame2['new']=frame2['pop']/100
frame2
del frame2['new']
frame2

In [ ]:
emp_info = pd.read_csv("http://rcs.bu.edu/examples/python/data_analysis/Salaries.csv")
emp_info
d=emp_info
d.loc[2:5,['service','salary']]

x=d.iloc[2:8,3]
print([x])
type(x)

#t

#emp_info.dtypes



#pandas  ......dataframe  (2d array rows and columns)     series    (vector, 1d array)

In [ ]:
import pandas as pd
import numpy as np
obj = pd.Series([4, 7, -5, 3])
print(obj.values )

obj.index  # like range(4) 
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

obj2
obj2.index

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3
obj4=pd.Series({'California': 'NaN', 'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000})
obj3 + obj4

## import pandas as pd1
import numpy as np
df =pd1.read_csv("sales3.csv")
df

In [ ]:
#pandas has been built over numpy
import pandas as pd
import numpy as np
df =pd.read_csv("sales3.csv",index_col=["Customer_Number","Customer_Name"]) 
#or write
#df.set_index("2016",inplace=True)
df

#data.set_index(["First Name", "Gender"], inplace = True,append = True, drop = False)
  #the 2016,2017 and percent_growth of cusstomers 10006 to 10008

,,2016,2017,Percent_Growth,Jan_Units,Month,Day,Year,Active
Customer_Number,Customer_Name,,,,,,,,
10001,Quest Industries,"$125,000.00","$162,500.00",30.00%,500,1,10,2015,Y
10002,kara Industries,"$125,000.00","$162,500.00",60.00%,500,1,10,2015,Y
10003,Dabu Industries,"$154,000.00","$642,500.00",50.00%,closed,1,10,2015,N
10004,Hero Industries,"$165,000.00","$642,500.00",80.00%,600,1,11,2015,N
10005,XML Co,"$125,000.00","$542,900.00",60.00%,800,2,11,2015,Y
10006,Uber Limited,"$154,000.00","$456,870.00",50.00%,100,2,12,2015,Y
10007,Zara Pvt Ltd,"$125,000.00","$129,000.00",16.00%,200,2,11,2015,Y
10008,Samsung,"$154,000.00","$444,320.00",40.00%,300,1,12,2015,Y
10009,Airtel,"$169,000.00","$435,000.00",60.00%,500,1,11,2015,Y

In [ ]:
df.loc[10006]['2016']

Customer_Name
Uber Limited    $154,000.00
Name: 2016, dtype: object

In [ ]:
df.iloc[1]['2016']

'$125,000.00 '

In [ ]:
df.iloc[1]

2016              $125,000.00
2017              $162,500.00
Percent_Growth          60.00%
Jan_Units                  500
Month                        1
Day                         10
Year                      2015
Active                       Y
Name: (10002, kara Industries), dtype: object

In [ ]:
df.iloc[1][3]

'500'

In [ ]:
df.iloc[1]

In [ ]:
df.iloc[1][[1,2,3]]

2017              $162,500.00
Percent_Growth          60.00%
Jan_Units                  500
Name: (10002, kara Industries), dtype: object

In [ ]:
df.loc[10008]

,2016,2017,Percent_Growth,Jan_Units,Month,Day,Year,Active
Customer_Name,,,,,,,,
Samsung,"$154,000.00","$444,320.00",40.00%,300,1,12,2015,Y

In [ ]:
df.loc[10008]['2016']

Customer_Name
Samsung    $154,000.00
Name: 2016, dtype: object

In [ ]:
df.loc[10005:10007][['2016']]

                                       2016
Customer_Number Customer_Name
10005           XML Co         $125,000.00
10006           Uber Limited   $154,000.00
10007           Zara Pvt Ltd   $125,000.00

In [ ]:
df.Jan_Units[10008]["Samsung"]=9
df.Jan_Units[10008]

Customer_Name
Samsung    9
Name: Jan_Units, dtype: object

In [ ]:
df['2016']
#col then row index
df['2016'][10008]

#by using loc one has to give row index then column name
df.loc[10008,'2016']
#by using iloc, one can give only integers
#df.iloc[1,'1'] produces ValueError: Location based indexing can only have 
#[integer, integer slice (START point is INCLUDED, END point is EXCLUDED), 
# listlike of integers, boolean array] types
#
df.loc[10008,2016]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [2016] of <class 'int'>

In [ ]:
#df.loc[10006:10008, ['Jan_Units','2016']]

#df.loc[10006]['2016']
#df.2016['10006']
df

,,2016,2017,Percent_Growth,Jan_Units,Month,Day,Year,Active
Customer_Number,Customer_Name,,,,,,,,
10001,Quest Industries,"$125,000.00","$162,500.00",30.00%,500,1,10,2015,Y
10002,kara Industries,"$125,000.00","$162,500.00",60.00%,500,1,10,2015,Y
10003,Dabu Industries,"$154,000.00","$642,500.00",50.00%,9,1,10,2015,N
10004,Hero Industries,"$165,000.00","$642,500.00",80.00%,600,1,11,2015,N
10005,XML Co,"$125,000.00","$542,900.00",60.00%,800,2,11,2015,Y
10006,Uber Limited,"$154,000.00","$456,870.00",50.00%,100,2,12,2015,Y
10007,Zara Pvt Ltd,"$125,000.00","$129,000.00",16.00%,200,2,11,2015,Y
10008,Samsung,"$154,000.00","$444,320.00",40.00%,300,1,12,2015,Y
10009,Airtel,"$169,000.00","$435,000.00",60.00%,500,1,11,2015,Y

In [ ]:
type(df['2016'])

In [ ]:
#df['2016']+df['2017']

for i in range(8):
    a=(df.iloc[i]['2016'])
    a=a.replace("$","")
    print(a)
    
def removedollar(val):
    val=val.replace("$","").replace(",","")
    return float(val)

df['2016'] = df['2016'].apply(removedollar)


df

125,000.00
125,000.00
154,000.00
165,000.00
125,000.00
154,000.00
125,000.00
154,000.00

,,2016,2017,Percent_Growth,Jan_Units,Month,Day,Year,Active
Customer_Number,Customer_Name,,,,,,,,
10001,Quest Industries,125000.0,"$162,500.00",30.00%,500,1,10,2015,Y
10002,kara Industries,125000.0,"$162,500.00",60.00%,500,1,10,2015,Y
10003,Dabu Industries,154000.0,"$642,500.00",50.00%,closed,1,10,2015,N
10004,Hero Industries,165000.0,"$642,500.00",80.00%,600,1,11,2015,N
10005,XML Co,125000.0,"$542,900.00",60.00%,800,2,11,2015,Y
10006,Uber Limited,154000.0,"$456,870.00",50.00%,100,2,12,2015,Y
10007,Zara Pvt Ltd,125000.0,"$129,000.00",16.00%,200,2,11,2015,Y
10008,Samsung,154000.0,"$444,320.00",40.00%,300,1,12,2015,Y
10009,Airtel,169000.0,"$435,000.00",60.00%,500,1,11,2015,Y

In [ ]:
df.iloc[0]['Percent_Growth']=df.iloc[0]['Percent_Growth'].replace('%', '')
df.iloc[0]['Percent_Growth']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

'30.00%'

In [ ]:
def remove(value):
    value = value.replace("%", "")
    return float(value)

#INTERNALLY IT IS A LOOP
df['Percent_Growth'] = df['Percent_Growth'].apply(remove)

In [ ]:
df['Percent_Growth']

In [ ]:
def removepercent(val):
    val= val.replace("%","")
    return float(val)
    
df['Percent_Growth']= df['Percent_Growth'].apply(removepercent)

In [ ]:
def convertdollar(val):
    val= val.replace("$","").replace(",","")
    return float(val)
   
df['2016']= df['2016'].apply(convertdollar)

AttributeError: 'float' object has no attribute 'replace'

In [ ]:
df['2017']= df['2017'].apply(convertdollar)

In [ ]:
df.dtypes

Customer_Name      object
2016              float64
2017              float64
Percent_Growth    float64
Jan_Units          object
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

In [ ]:
df[['2016','2017']].sum()
df['Percent_Growth']

In [ ]:
df1=df.copy()
#df1['2016']> 152000
df1.Month[df1.Year > 2009]+=5
df1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,,2016,2017,Percent_Growth,Jan_Units,Month,Day,Year,Active,Supply_Date,totalsales,Start_date
Customer_Number,Customer_Name,,,,,,,,,,,
10001,Quest Industries,"$125,000.00","$162,500.00",30.00%,500,6,10,2015,Y,2015-01-10,"$125,000.00 $162,500.00",2015-01-10
10002,kara Industries,"$125,000.00","$162,500.00",60.00%,500,6,10,2015,Y,2015-01-10,"$125,000.00 $162,500.00",2015-01-10
10003,Dabu Industries,"$154,000.00","$642,500.00",50.00%,closed,6,10,2015,N,2015-01-10,"$154,000.00 $642,500.00",2015-01-10
10004,Hero Industries,"$165,000.00","$642,500.00",80.00%,600,6,11,2015,N,2015-01-11,"$165,000.00 $642,500.00",2015-01-11
10005,XML Co,"$125,000.00","$542,900.00",60.00%,800,7,11,2015,Y,2015-02-11,"$125,000.00 $542,900.00",2015-02-11
10006,Uber Limited,"$154,000.00","$456,870.00",50.00%,100,7,12,2015,Y,2015-02-12,"$154,000.00 $456,870.00",2015-02-12
10007,Zara Pvt Ltd,"$125,000.00","$129,000.00",16.00%,200,7,11,2015,Y,2015-02-11,"$125,000.00 $129,000.00",2015-02-11
10008,Samsung,"$154,000.00","$444,320.00",40.00%,300,6,12,2015,Y,2015-01-12,"$154,000.00 $444,320.00",2015-01-12
10009,Airtel,"$169,000.00","$435,000.00",60.00%,500,6,11,2015,Y,2015-01-11,"$169,000.00 $435,000.00",2015-01-11

In [ ]:
df[['2016']]
#df['2016']

     2016
0	125000.0
1	125000.0
2	154000.0

0    125000.0
1    125000.0
2    154000.0
3    165000.0
4    125000.0

In [ ]:
df["shipping_date"]=pd.to_datetime(   df[['Day', "Year", "Month"]])
df

In [ ]:
df['2017'] = df['2017'].apply(removedollar)

In [ ]:
a='1098'
type(a)
b='646'

int(a)+int(b)

In [ ]:
date=df[['Day', 'Month','Year']]
date

df['shipping date']=pd.to_datetime(df[['Day', 'Month', 'Year']])
df

In [ ]:
df1=df.dropna()
df1

df['2016'] + df['2017']

def convertnumeric(  ):
    
    
    
     df['2016'].apply(convertnumeric)

In [ ]:
df.dtypes

In [ ]:
#because object is  a string
df['2016']   +   df['2017']

In [ ]:
df.info()

In [ ]:
df['Customer_Number']

In [ ]:
df.dtypes

astype

In [ ]:
df.dtypes

In [ ]:
df['Day'] = df['Day'].astype('int8')
df['Year'] = df['Year'].astype('int8')
df['Month'] = df['Month'].astype('int8')
df.dtypes

In [ ]:
def remove_dollar(s):
    new_val = s.replace(',','').replace('$', '')
    print(new_val)
    return float(new_val)

In [ ]:
df['Customer_Number']= df['Customer_Number'].astype('int')
#To actually change use:


df.dtypes

In [ ]:
df['Customer_Number']  =   df['Customer_Number'].astype('int')
df['2016']

df['2016'].astype('float')

In [ ]:
#df['Jan_Units'].astype('int')
#the last value is 'closed'

In [ ]:
df['Active'].astype('bool')

In [ ]:
df.head(2)

In [ ]:
df

In [ ]:
df.loc[3:4,'2016']

 

df.loc[4,'Jan_Units']=900
df.loc[4,'Jan_Units']
df.loc[2,'Jan_Units']=0

In [ ]:
df

In [ ]:
#Write functions in Pandas

def remove_currency(val1):
    new_val = val1.replace(',','').replace('$', '')
    return float(new_val)    
    
df['2016'] = df['2016'].apply(remove_currency)


df['2017']=df['2017'].apply(remove_currency)

In [ ]:
df

In [ ]:
df.dtypes
df['2016']+df['2017']
#df[::-2]
#df.dtype

In [ ]:
df['Jan_Units'].value_counts()

In [ ]:
df['2016']+df['2017']
df.dtypes

In [ ]:
df
#df['Percent_Growth']
df['2016']+df['2017']

In [ ]:
def convert_percent(val):   
    """
    Convert the percentage string to an actual floating point percent
    - Remove %
    - Divide by 100 to make decimal
    """
    new_val = val.replace('%', '')
    return float(new_val) / 100

df['Percent_Growth'] = df['Percent_Growth'].apply(convert_percent)

In [ ]:
df.dtypes

In [ ]:
def remove_percentage(val):
    nw_val = val.replace('%','')
    return float(nw_val)/100

df['Percent_Growth'] = df['Percent_Growth'].apply(remove_percentage)
df

In [ ]:
df["n2"]=100
df['2016+2017'] = df['2016']+df['2017']

In [ ]:
df

,,2016,2017,Percent_Growth,Jan_Units,Month,Day,Year,Active,Supply_Date,totalsales,Start_date,n2,2016+2017
Customer_Number,Customer_Name,,,,,,,,,,,,,
10001,Quest Industries,"$125,000.00","$162,500.00",30.00%,500,1,10,2015,Y,2015-01-10,"$125,000.00 $162,500.00",2015-01-10,100,"$125,000.00 $162,500.00"
10002,kara Industries,"$125,000.00","$162,500.00",60.00%,500,1,10,2015,Y,2015-01-10,"$125,000.00 $162,500.00",2015-01-10,100,"$125,000.00 $162,500.00"
10003,Dabu Industries,"$154,000.00","$642,500.00",50.00%,closed,1,10,2015,N,2015-01-10,"$154,000.00 $642,500.00",2015-01-10,100,"$154,000.00 $642,500.00"
10004,Hero Industries,"$165,000.00","$642,500.00",80.00%,600,1,11,2015,N,2015-01-11,"$165,000.00 $642,500.00",2015-01-11,100,"$165,000.00 $642,500.00"
10005,XML Co,"$125,000.00","$542,900.00",60.00%,800,2,11,2015,Y,2015-02-11,"$125,000.00 $542,900.00",2015-02-11,100,"$125,000.00 $542,900.00"
10006,Uber Limited,"$154,000.00","$456,870.00",50.00%,100,2,12,2015,Y,2015-02-12,"$154,000.00 $456,870.00",2015-02-12,100,"$154,000.00 $456,870.00"
10007,Zara Pvt Ltd,"$125,000.00","$129,000.00",16.00%,200,2,11,2015,Y,2015-02-11,"$125,000.00 $129,000.00",2015-02-11,100,"$125,000.00 $129,000.00"
10008,Samsung,"$154,000.00","$444,320.00",40.00%,300,1,12,2015,Y,2015-01-12,"$154,000.00 $444,320.00",2015-01-12,100,"$154,000.00 $444,320.00"
10009,Airtel,"$169,000.00","$435,000.00",60.00%,500,1,11,2015,Y,2015-01-11,"$169,000.00 $435,000.00",2015-01-11,100,"$169,000.00 $435,000.00"

In [ ]:
def jan_increase(units):
    if units != 'closed':
        newunits = units + 10
        return float(newunits)
    

df['Jan_Units'] = df['Jan_Units'].apply(jan_increase)

In [ ]:
a=df['Month']
a
df['Supply_Date']=pd.to_datetime (df[['Month','Day', 'Year']])
df['totalsales']= df['2016']+df['2017']
k=df[['totalsales', '2016', '2017']].std()
k

Series([], dtype: float64)

In [ ]:
import numpy as np
a=df[['Month']]
df['newcol']=np.arange(20,38,2)
df

In [ ]:
pd.to_datetime(df[['Month','Day', 'Year']])

In [ ]:
df['newdate'] =  pd.to_datetime(df[['Month','Day', 'Year']])
df

In [ ]:
df["Customer_Name"]

KeyError: 'Customer_Name'

In [ ]:
df[['Month','Day','Year']]
df["Start_date"]= pd.to_datetime(df[['Month', 'Day', 'Year']])
newdf_startdt=df[df['Start_date'] > '2015-01-10']
newdf_samsung=df[df['Customer_Name'] == 'Samsung' & df['2016'] > 2000]
newdf_samsung
#df.drop(["Start_date"],axis=1)

#df.drop(["Start_date"],axis=1, inplace=True)

#df
#        data.drop(["Team", "Weight"], axis = 1, inplace = True)

KeyError: 'Customer_Name'

In [ ]:
df['start_date'] = pd.to_datetime(df[   ['Month', 'Day', 'Year']     ])
newdf = df[df['start_date'] >'2015-01-10']
newdf

In [ ]:

df.dtypes

In [ ]:
df.head(2)

In [ ]:
df.head(3)

In [ ]:
df['Customer_Name']

In [ ]:
import pandas as pd
ser= pd.Series([11,33,44,55])
print(ser)
print(ser[1])

In [ ]:
year=[2001,2002,2003,2004,2005]
obj = pd.DataFrame([[40, 70, -50, 30],
                    [20,30,40,50],
                    [11,12,13,14],
                    [4,5,6,7],
                    [56,6,7,8]], index=year)
print(obj)
type(obj)
obj.iloc[3]